.btn-gradient {
  display: inline-block;

  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 24px;
  color: var(--p1);

  padding: 16px 32px;
  border-radius: 5px;
  background: var(--gradient1);
  border: none;
  cursor: pointer;
}

.btn-gradient__arrow {
  width: auto;
}

.btn-insurance-silver {
  display: inline;

  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 24px;
  color: var(--g4);

  padding: 16px 32px;
  border-radius: 5px;
  background: var(--g10);
  transition: all 0.3s ease;
}

.btn-insurance-silver:hover {
  background: var(--g9);
  color: var(--g1);
}

.btn-underline {
  font-family: "Poppins";
  font-size: 1.5em;
  line-height: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 80px;

  color: var(--p5);

  position: relative;
  transition: all 0.3s ease;
}

.btn-underline::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;

  background: var(--p5);
  transition: all 0.3s ease;
}

.btn-underline:hover::after {
  background: var(--p3);
}

.btn-underline:hover {
  color: var(--p3);
}
