.orcamento {
  padding: 20px 0px 120px 0px;
}

.orcamento-content {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

/* CSS DAS OPÇÕES DE SELEÇÃO */

.orcamento-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-content: start;
  background: var(--g12);

  border-radius: 5px 0px 0px 5px;
  padding: 60px 48px;
}

.orcamento-conteudo h2 {
  display: flex;
  align-items: center;
}

.orcamento-conteudo h2::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 8px;

  margin-right: 8px;
  background: var(--p5);
}

.orcamento-conteudo input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.orcamento-conteudo > label {
  grid-column: inherit;
}

.orcamento-conteudo > * {
  grid-column: 1 / -1;
}

.orcamento-conteudo label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font:
    500 1rem/1.2 "Poppins",
    sans-serif;

  padding: 16px;
  color: var(--g4);
  background: var(--g10);
  border-radius: 5px;
  border: 1px solid transparent;

  transition: 0.3s ease;
}

.orcamento-conteudo label:hover {
  background: var(--g9);
  cursor: pointer;
}

.orcamento-conteudo input:focus + label {
  border: 1px solid var(--g12);
  box-shadow: 0 0 0 2px var(--p5);
}

.orcamento-conteudo input:checked + label {
  color: var(--g11);
  background: var(--w);
}

.orcamento-conteudo label::before {
  display: inline-block;
  content: "";
  width: 12px;
  height: 12px;

  margin-right: 8px;
  border: 1px solid var(--g6);
  border-radius: 50%;
}

.orcamento-conteudo input:checked + label::before {
  box-shadow:
    inset 0 0 0 3px var(--w),
    inset 0 0 0 7px var(--g7);
  border: 1px solid var(--g7);
}

.orcamento-conteudo input + label span {
  display: none;
}

.orcamento-conteudo input:checked + label span {
  display: inline-block;
}

#orcamento-bikcraft,
#orcamento-seguro {
  display: none;
  gap: 24px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
}

#orcamento-bikcraft input:checked + label + .bike-specifications {
  display: grid;
}

.bike-specifications {
  display: none;
  grid-template-columns: 1fr 1fr;

  align-items: center;
  background: var(--w);

  padding: 18px;
  border-radius: 5px;
}

.bike-specifications ul img {
  width: 16px;
  height: 16px;
}

.bike-specifications ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bike-specifications div img {
  border-radius: 5px;
}

/* CSS FORMULÁRIO */

.orcamento-form {
  background: var(--w);

  border-radius: 0px 5px 5px 0px;
  padding: 60px 48px;
}

.orcamento-form h3::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 8px;

  margin-right: 8px;

  background: var(--p5);
}

.orcamento-form-entrega input[type="checkbox"] {
  width: 32px;
  height: 32px;

  background: var(--g1);
  border-color: var(--g4);
  border-radius: 32px;
}

.orcamento-form-entrega label[for="termos"] {
  display: inline-block;

  margin-top: 4px;
  margin-left: 12px;
}
